/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&display=swap" rel="stylesheet">');

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }

.comics_sans {
    font-family: 'Comic Sans MS';
    font-weight: 400;
    font-style: normal;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* Fonts */



.banner{
    background-image: url('/img/banner12.png');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: top; /* Centra la imagen en el contenedor */
    background-attachment: fixed; /* Crea el efecto parallax */


}

.text-with-border {
    color: white; /* Color del texto */
    text-shadow: 
        1px 1px 0px black,  /* Sombra a la derecha-abajo */
        -1px 1px 0px black, /* Sombra a la izquierda-abajo */
        1px -1px 0px black, /* Sombra a la derecha-arriba */
        -1px -1px 0px black; /* Sombra a la izquierda-arriba */
    font-size: 40px; /* Tamaño del texto */
}

.text-with-border-media {
    color: white; /* Color del texto */
    font-weight: bolder;
    text-shadow: 
        1px 1px 0px black,  /* Sombra a la derecha-abajo */
        -1px 1px 0px black, /* Sombra a la izquierda-abajo */
        1px -1px 0px black, /* Sombra a la derecha-arriba */
        -1px -1px 0px black; /* Sombra a la izquierda-arriba */
    font-size: 25px; /* Tamaño del texto */
}


.direccion{
    text-decoration: none;
}



.bolder{
    font-weight: bolder;
}
.titulo{

    font-size:20pt;

}


.banner1{
    background-image:url('/img/banner12.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Crea el efecto parallax */
}

.banner2{
    background-image:url('/img/datacenter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Crea el efecto parallax */
}


.hidden {
    opacity: 0;
  }
  
  .box {
    margin: 100px 0; /* Agregar margen para simular el scroll */
  }

  .curved-div {
    position: relative;
    overflow: hidden;
    
}

   .curved-div::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 234, 233, 0.5); /* El color que quieres en medio del div */
    clip-path: ellipse(120% 70% at 50% 0%); /* Forma curva */
    z-index: 1;
}