iframe {
    max-width: 100%;
    height: 700px;
   }


.impact{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.negrita{

    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    

}